* {
    margin: 0;
    padding: 0;
}
.row{
    margin: 0;
    padding: 0;
}
.center{
    text-align: center;
    margin: 5% 0;
}

#ulTasks li.done{
    color: #6c757d;
    text-decoration: line-through;
    margin: 0;
}